/*
CSS Credit: http://www.templatemo.com
*/

html {

	background: #fff;
}

body {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	width: 100%;
	display: table;
	background: url(images/templatemo_bg.jpg) repeat-x #fff;
}

a:link, a:visited {	color: #494949; text-decoration: underline; }
a:active, a:hover { color: #494949; text-decoration: none;}

p{
	
	font-family: Tahoma;
	font-size: 13px;
	color: #484848;
	text-align: justify;
	margin: 0 0 10px 0;
		
}



h1 {
	
	font-family: Tahoma;
	font-size: 18px;
	color: #676767;
	font-weight: normal;
	margin: 0 0 15px 0;
	
}


h2 {
	
	font-family: Tahoma;
	font-size: 16px;
	color: #0895d6;
	font-weight: normal;
	margin: 0 0 10px 0;
	
}
h3 {
	
	font-family: Tahoma;
	font-size: 11px;
	color: #2780e4;
	font-weight: normal;
	margin: 0 0 5px 0;
	
}

#templatemo_container {

	width: 100%;
	margin: auto;

}

#templatemo_header {
	
	width: 100%;
	height: 120px;
	background: url(images/my_logo.png) no-repeat;
	background-position: 0 -2px;
	margin: 15px 0 0 0;
	padding: 1px 0 0 0;
	
}

#templatemo_logo_area {
	
	width: 175px;
	height: 40px;
	margin: 25px 0 0 25px;
	float: left;
	
}

#templatemo_logo {
	
	font-family: Tahoma;
	font-size: 25px;
	color: #0e8fcb;
	margin: 0 0 5px 0;
}

#templatemo_slogan {
	
	float: left;	
	font-family: Tahoma;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	font-style: italic ;
	margin: 18px 0 0 0;

}

#templatemo_social {
	
	width: 195px;
	height: 40px;
	float: right;
	margin: 30px 0 0 0px ;
}

#templatemo_social form {
	float: right;
	width: 185px;
	height: 36px;
	background: url(images/templatemo_search.jpg);
}

.field_search{
	float: left;
	width: 132px;
	height: 21px;
	border: none;	
	background: none;
	border: none;
	font-family: Tahoma;
	color : #686868;

	margin: 8px 0 0 10px;
}

.button_search {

	float: right;
	width: 35px;
	height: 22px;
	border: none;	
	background: url(images/templatemo_botton.jpg) no-repeat;
	margin: 8px 5px 0 0;
	cursor: pointer;

}

#templatemo_social img{
	float: right;
	margin: 0 20px 0 0;
	border: none;
}


/* menu */

#templatemo_menu {
	float: right;
	width: 960px;
	height: 40px;
	margin: 5px 0 0 0;
	padding: 0 ;
}

#templatemo_menu ul {
	float: right;
	margin: 0px;
	padding: 0 0 0 0;
	width: 550px;
	list-style: none;
}

#templatemo_menu ul li {
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	padding: 11px 20px;	
	text-align: center;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	background: url(images/templatemo_menu_divider.png) center right no-repeat;
	color: #2a5f00;	
	font-family: Tahoma;
	font-size: 12px;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	color: #fff;
}

#templatemo_menu li .last {
	background: none;
}

/* end of menu*/

#templatemo_content_area {
	
	width: 100%;
	margin: 0 0 0 0;

}

#templatemo_left {
	
	float: left;
	width: 250px;
	

}

#templatemo_right {
	
	float:right;
	width: 685px;
	

}

.templatemo_section_1 {
	width: 250px;
	margin: 0 0 10px 0;
}

.templatemo_section_1 .top {
	width: 250px;
	height: 33px;
	background: url(images/templatemo_section_1_top.jpg) left no-repeat;
}

.top h1{
	display:block;
	float: left;
	margin: 15px 0 0 15px;
}

.top span.title{
	
	float: right;
	display: block;
	font-family: Tahoma;
	font-size: 10px;
	color: #000;
	margin: 15px 25px 0 0;
}

.templatemo_section_1 .middle {
	width: 250px;
	background: url(images/templatemo_section_1_mid.jpg) left repeat-y;
}

.templatemo_section_1 .bottom {
	width: 210px;
	background: url(images/templatemo_section_1_bottom.jpg) bottom left  no-repeat;
	padding: 10px 20px 5px 15px;
}


.templaemo_h_line {
	width: 100%;
	clear: both;
	height: 1px;
	background: url(images/templatemo_h_line.jpg);
	margin: 0 0 10px 0;
	
}

.templaemo_v_line {
	width: 1px;
	float: left;
	height: 260px;
	background: url(images/templatemo_v_line.jpg);
	
	
}

.templatemo_section_2 {
	width: 220px;
	margin: 0 0 10px 0 ;
	padding: 15px 15px 5px 15px;
}

.templatemo_section_2 .green {

	border-left: 8px solid #64d608;
	padding: 0 0 0 5px;
	margin: 0 0 15px 0;
	
}

.templatemo_section_2 .blue {

	border-left: 8px solid #0895d6;
	padding: 0 0 0 5px;
	margin: 0 0 15px 0;
	
}

.templatemo_section_2 .yellow {

	border-left: 8px solid #ffcc66;
	padding: 0 0 0 5px;
	margin: 0 0 15px 0;
	
}

.templatemo_section_3 {
	width: 685px;
	margin: 0 0  20px 0;
	background: url(images/templatemo_section_3_bg.jpg) no-repeat;
	background-position: 105px -5px;

	
}

.templatemo_section_3 h1{
	margin: 0 0 5px 0;
	
}


span.blue_title {
	font-family: Arial;
	font-size: 20px;
	color: #0895d6;
	display: block;
	margin: 0 0 25px 20px;
}


.templatemo_section_4 {

	width: 685px;
	margin: 0 0 15px 0;
	
}

.templatemo_section_5 {

	width: 685px;
	background: url(images/templatemo_section_5.jpg) top no-repeat;
	margin: 0 0 20px 0;
	padding: 15px 0 0 0;
	
}

.templatemo_two_col {

	width: 310px;
	padding: 0 15px 15px 15px;
	margin: 0 0 20px 0;
	
}

.templatemo_two_col img{
	margin: 0 0 10px 0;
}

.templatemo_gallery {
	margin: 0;
	padding: 0;
}

.templatemo_gallery img{
	float: left;
	margin: 0 0 20px 0;	
}

.templatemo_gallery img.mid{
	float: left;
	margin: 0 27px;	
}

.right {
	
	float: right;
	
}


.left {
	
	float: left;
	
}

#templatemo_footer {
	width: 100%;
	height: 32px;
	background: url(images/templatemo_footer_bg.jpg);
	color: #fff;
	text-align: center;
	
	padding: 36px 0 0 0;
	margin: 0;
}

#templatemo_footer a{
	color: #fff;
	text-decoration: underline;
}

#templatemo_footer a:hover{
	color: #fff;
	text-decoration: none;
}

.cleaner {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 2em;
}
h1 {
	margin: 0;
}

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}